ul{
        list-style-type: square;
        padding: 15px 25px;
        border-left: 2px solid blueviolet;
        color:pink
        font-size: 20px;
        background color:brown;


}

ul li{
        padding: 8px;
        border-bottom: 1px solid blanchedalmond;


}
ol{
        list-style-type:  lower-alpha;
        


}


ol li{

        background-color: aquamarine;
        padding: 1px;
        margin-left: 30px;
}

td th{

        border: 1px solid black;
        padding: 10px;

}