div#div1{
    position: static;
    border: 3px solid black;
    width: 250px;
    height:250px;
    padding: 20px;
}
div#div2{
    position: relative;
    border: 3px solid black;
    width: 250px;
    height:250px;
    padding: 20px;
    left: 500px;
    top: 50px;
}
div#div3{
    position: fixed;
    border: 3px solid black;
    width: 250px;
    height:250px;
    margin-top: 100px;
    top: 100px;
    right: 150px;
}
#parent{
    position: relative;
    width: 250px;
    height:250px;
    border: 3px solid black;
}
#child{
    position: absolute;
    width: 150px;
    height:150px;
    background-color: aqua;
    
}
#horizontal ul li{
    list-style-type: none;
    background-color: black;
    margin-bottom: 100px;
    overflow: hidden;
}
#horizontal ul li{
    float: left;
}
#horizontal ul li a{
    color: white;
    padding: 50px;
    text-decoration: none;
}
#horizontal ul li a:hover{
    background-color: gray;
}