div#div1{
    position: static;
    border: 3px solid black;
    width: 250px;
    height:250px;
    padding: 20px;
}
div#div2{
    position: relative;
    border: 3px solid black;
    width: 250px;
    height:250px;
    padding: 20px;
    left: 500px;
    top: 50px;
}
div#div3{
    position: fixed;
    border: 3px solid black;
    width: 250px;
    height:250px;
    margin-top: 100px;
    top: 100px;
    right: 150px;
}
#parent{
    position: relative;
    width: 250px;
    height:250px;
    border: 3px solid black;
}
#child{
    position: absolute;
    width: 150px;
    height:150px;
    background-color: aqua;
    
}
#horizontal ul li{
    list-style-type: none;
    background-color: black;
    margin-bottom: 100px;
    overflow: hidden;
}
#horizontal ul li{
    float: left;
}
#horizontal ul li a{
    color: white;
    padding: 50px;
    text-decoration: none;
}
#horizontal ul li a:hover{
    background-color: gray;
}

#dropdown{
    overflow: hidden;
    background-color: blueviolet;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
#dropdown a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

#nav-dropdown{
    float: left;
    overflow: hidden;
}

#dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 15px;
    background-color: inherit; 
    font: inherit;

}

#dropdown a:hover, #nav-dropdown:hover{
    background-color: rgb(180, 126, 230);
}

#dropdown-content{
    display: none;
    position: absolute;
    background-color: aqua;
    width: 100%;
    box-shadow: 10px black;
}

#column{
    float: none;
    width: 50%;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#column a{
  float: none;
    width: 50%;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

